<h1 class='center'>Pokémons</h1>
<div class='container'>
<div class="row">
<div *ngFor='let pokemon of pokemons' class="col s12 m4">
  <div class="card-horizontal" (click)="selectPokemon(pokemon)" pkmn-shadow-card>
    <div class="Element">
      <div class="card-image">
        <img class= "PokemonImg" [src]="pokemon.Image" >
      </div>
    </div>
    <div class="Element">
      <div class="col-sm-8 ">
        <div class="card-content">
          <p class="PokemonName">{{ pokemon.Nom }}</p>
          <p class="IV">PV: {{ pokemon.PV }}</p>
          <p class="IV">Attaque: {{ pokemon.Attaque }}</p>
          <p class="IV">Défense: {{ pokemon.Defense }}</p>
          <p class="IV">Attaque Spéciale: {{ pokemon.AttSpe }}</p>
          <p class="IV">Défense Spéciale: {{ pokemon.DefSpe }}</p>
          <p class="IV">Vitesse: {{ pokemon.Vitesse }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="Type">
        <div class="{{ pokemon.Type1 | pokemonTypeColor }}">{{ pokemon.Type1 }}</div>
        <div class="{{ pokemon.Type1 | pokemonTypeColor }}">{{ pokemon.Type1 }}</div>
      </div>
    </div>
  </div>
</div>
